.habit-card h5 {
  transition: all 0.3s ease;
  user-select: none;
  cursor: pointer;
  font-size: 1.5rem;
}

h5.done {
  color: rgb(173, 173, 173) !important;
  text-decoration: line-through;
}

/* .habit-card:hover h5 {
  transform: scale(1.3);
} */

.habit-card {
  transition: all 0.3s ease;
}

.habit-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 10px rgb(85, 85, 85);
}

button {
  background: none;
  border: none;
}

.done-habit-card {
  background: linear-gradient(60deg, #272446, #0d232b, #012012 75%) !important;
  opacity: 0.6;
}

.habit-box {
  background: linear-gradient(60deg, #6c4ca0, #161558, #02292e 75%);
  color: white !important;
}