body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  margin-bottom: 20px;
  position: fixed; /* Add fixed positioning */
  top: 0; /* Stick the header to the top */
  left: 0;
  width: 100%; /* Make the header full-width */
  background-color: #fff; /* Add a background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 10px; /* Add some padding for spacing */
  z-index: 1000; /* Ensure the header appears above other content */
}

#back-to-habits {
  display: none;
}

#empty-habits-text {
  display: none;
  margin: 10vh 10vw;
  text-align: center;
}

#empty-habits-text {
  display: none;
}

footer {
  position: fixed;
  bottom: 0; /* Adjust the top value as needed to position the buttons below the header */
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35); /* Semi-transparent background */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 999; /* Ensure the buttons appear above other content */
  display: flex;
  backdrop-filter: blur(5px); /* Apply a blur effect */
  justify-content: center;
}

footer button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#app {
  width: 100%;
}

main {
  width: 100%;
  padding: 70px 0 60px; /* Add padding at the top to create space for the fixed header */
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habit-name {
  user-select: none;
  padding-left: 2em;
}

/* Style for habit boxes */
#habit-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Espacio entre filas y columnas */
  justify-items: center;
  margin-top: 20px;
}

/* Style for habit boxes */
/* .habit-box {
    height: 100px;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 0 25px;
    padding: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
/* }  */

.habit-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2px;
}

.habit-box .habit-buttons {
  display: flex;
}

.habit-box .habit-buttons button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #433764;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.3s;
  margin: 0;
  transform: scale(1); /* Default size */
  transition: transform 0.3s;
}

/* Style for completed habit boxes */
.habit-box.done {
  background-color: #d1f9e3;
  border-color: #82d082;
  transition: background-color 0.3s, border-color 0.3s; /* Adjust the duration as needed */
}

/* Style for slashed text */
.habit-box.done span {
  text-decoration: line-through;
}

/* Style for not completed habit boxes */
.habit-box:not(.done) {
  background-color: #fff;
  border-color: #ccc;
  transition: background-color 0.3s, border-color 0.3s; /* Adjust the duration as needed */
}

/* Modern button styles */
button {
  padding-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  padding: 12px 20px; /* Adjust padding for vertical spacing */
}

/* .habit-box.delete-modus:hover {
    background-color: #b43555;
  }
  .habit-box.delete-modus {
    background-color: #f298ae;
  }
  .habit-box.edit-modus:hover span {
    display: none;
  }
  
  .habit-box.edit-modus:hover {
    background-color: #1fafb4;
  }
  .habit-box.edit-modus {
    background-color: #98dde0;
  } */

/* .habit-box:hover.edit-modus::before {
    color: #ffffff;
    content: "EDIT NAME"; /* Replace with the desired text */
/* } */

/* .habit-box.delete-modus:hover span {
    display: none;
  } */

/* .habit-box:hover.delete-modus::before {
    color: #ffffff;
    content: "DELETE"; /* Replace with the desired text */
/* }  */

/* .unmark-done-btn {
    display: none !important;
  } */
/* Other styles */
.error-message {
  color: red;
}

/* Add this style to align the button to the right within the title */
.habit-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the app when in edit mode */
.edit-mode #app {
  background-color: #3d3939; /* Change the background color to indicate edit mode */
}

/* Style for the delete button */
.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: red;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#logout {
  background-color: red;
}

#stats {
  display: none;
}

.add-habit-container {
  padding: 2rem;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
  text-align: center;
}

#new-habit-name {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* For screens with a maximum width of 600px */
@media (max-width: 600px) {
  .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  /* Modern button styles for smaller screens */
  button {
    padding: 12px 20px; /* Adjust padding for vertical spacing */
    /* font-size: 20px; Increase font size */
    border-radius: 4px;
    /* width: 8rem; */
    margin: 10px 10px; /* Add spacing above, between, and below buttons */
    white-space: normal; /* Allow the button text to wrap */
    overflow: hidden; /* Hide any overflow */
    text-overflow: initial; /* Reset text-overflow to initial */
  }

  /* Adjust font size for button text on smaller screens */
  .habit-title button {
    font-size: 15px; /* Adjust font size for buttons in the title */
  }

  /* Hide the habit title span for smaller screens */
  .habit-title span {
    display: none;
  }

  /* Hide the habit title span for smaller screens */
  .habit-title span {
    display: none;
  }

  /* Hide the habit title span for smaller screens */
  .habit-title span {
    display: none;
  }

  /* Center the habit subtitle below the app title */
  .habit-subtitle {
    display: block;
    text-align: center;
    margin-top: 5px;
  }

  /* Adjust grid layout for habit boxes on smaller screens */
  #habit-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .habit-box {
    height: 100%;
    width: 100%; /* Use full width of the grid container */
    margin: 0;
    padding: 5px; /* Adjust padding for habit boxes */
    font-size: 14px;
    margin-top: 0; /* Add margin to the top of each box */
  }
}

/* Only for big screens */
@media (min-width: 600px) {
  button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Slightly scale up on hover */
  }

  button:active {
    transform: scale(0.95); /* Slightly scale down on active */
  }

  #logout:hover {
    background-color: rgb(114, 12, 12);
  }

  footer button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }

  footer button:active {
    transform: scale(0.95);
  }

  .habit-box .habit-buttons button:hover {
    color: #3498db;
    transform: scale(1.5); /* Adjust the scale factor as needed */
    transition: transform 0.3s;
  }

  /* Hover effect for completed habit boxes */
  .habit-box.done:hover {
    background-color: #92c492; /* Change to your desired color */
    border-color: #65a765; /* Change to your desired color */
  }

  /* Hover effect for not completed habit boxes */
  .habit-box:not(.done):hover {
    background-color: #dddddd; /* Change to your desired color */
    border-color: #999; /* Change to your desired color */
  }

  .habit-box span {
    transform: scale(1); /* Default size */
    transition: transform 0.3s;
  }

  /* Increase text size on hover */
  .habit-box:hover span {
    transform: scale(1.2); /* Adjust the scale factor as needed */
    transition: transform 0.3s;
  }
}
