<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrackYou - Activation pending</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='loginRegister.css') }}"
    />
    <link rel="icon" href="#" />
  </head>
  <body>
    <div class="container">
      <h1>TrackYou - Register</h1>

      <div id="error-message" class="error-message"></div>

      <br />
      <p style="font-weight: bold; font-size: larger">
        Account activation pending
      </p>
      <br />
      <p style="font-weight: bold; font-size: larger">
        Please have some patience until an Admin activates your account 😁
      </p>
      <br />

      <p>Already have an ACTIVATED account? <a href="/login">Login here</a></p>
    </div>
  </body>
</html>
