<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrackYou - Users</title>
    <link rel="stylesheet" href="static/users_list.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" href="#" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>TrackYou - ADMIN</h1>
      </header>
      <main>
        <h2>Manage users</h2>
        <div class="table-container">
          <table class="habit-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>
                  {{ "ADMIN" if user.userType =="admin" else "Normal user" }}
                </td>

                <td>
                  {% if user.userType == "normal_user" %}
                  <span
                    class="{{'activated-txt' if user.account_activated else 'blocked-txt'}}"
                  >
                    {{ "Activated" if user.account_activated else "Blocked" }}
                  </span>
                  {% endif %}
                </td>
                <td>
                  {% if user.userType == "normal_user" %}
                  <button
                    id="action-btn {{user.id}}"
                    class="{{'block-btn' if user.account_activated else 'activate-btn'}}"
                    onclick="{{ 'toggleUserStatus(' + user.id|string + ')' }}"
                  >
                    {{ "Block" if user.account_activated else "Activate" }}
                  </button>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
    </div>
    <footer>
      <button id="stats">Stats</button>
      <button id="habits">Habits</button>
      <button id="logout">Logout</button>
    </footer>
    <script src="{{ url_for('static', filename='users_list.js') }}"></script>
  </body>
</html>
