<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrackYou - Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='loginRegister.css') }}"
    />
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <div class="container">
      <h1>TrackYou - Login</h1>

      <form id="login-form">
        <input type="text" id="email" placeholder="Email" required />
        <input type="password" id="password" placeholder="Password" required />
        <button type="submit">Login</button>
      </form>

      <div id="error-message" class="error-message"></div>

      <br />
      <p style="font-weight: bold; font-size: larger">
        This is a Habit Tracker App ✅
      </p>
      <br />
      <p style="font-weight: bold; font-size: larger">
        That means you can add habits and mark them as done by tapping on them
        😁
      </p>
      <br />
      <p>
        Note: Habits status reset each day, so what you marked as done today,
        will not be done tomorrow 😉
      </p>
      <br />
      <br />

      <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
  </body>
</html>
